@redText: red;

.header {
    .content {
        .inner {
            h1 {
                color: red;
            }
        }
    }
}

nav {
    ul {
        a {
            background-color: blue;
        }
    }
}


#intro {
    color: red;

    .major {
        color: @redText;
    }
}