@redText: red;
@titleColor: orange;

#header {
    .content {
        .inner {
            #mine {
                color: @titleColor;

                p {
                    color: purple;
                }
            }
        }
    }
}

nav {
    ul {
        a {
            background-color: @titleColor;
        }
    }
}


#intro {
    color: @titleColor;

    .major {
        color: @redText;
    }
}